*{
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    margin: 0%;
}
body{
    background-color: #adcce0;
    width: 100%;
}
body {    
    margin: 0 !important;
    padding: 0 !important;
}

#preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff no-repeat center 50%;
    text-align: center;
    padding-top: 20%;
    z-index: 999;
}

#logoutmodal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    text-align: center;
    z-index: 999;
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.logout_modal{
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    width: 425px;
    height: auto;
    top: 28%;
    left: 38%;
    padding: 50px;
}

.logout_button{
    background-color: #ffffff;
    border: 1px black solid;
    border-radius: 10px;
    height: 35px;
    width: 80px;
}

.logout_button:hover, .logout_cancel:hover{
    background-color: black;
    border: white;
    color: white;
}

.logout_cancel{
    background-color: #ffffff;
    border: 1px black solid;
    border-radius: 10px;
    height: 35px;
    width: 80px;
}

.container{
    background-color: #FBFCFF;
    position: fixed;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 7.5% 92.5%;
    border-radius: 10px;
    height: 100vh;
}
.left{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #FFFFFF;
    color: #81868d;
    border-radius: 20px;
    height: 85vh;
    position: relative;
    margin: 4%;
    padding-top: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.logotable{
    padding: 2%;
    height: 200px;
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.stamford{
    font-size: 19px;
    text-align: left;
    margin-left: 10px;
    color: #000000;
}
.logo{
    margin-left: 10px;
    height: 50%;
    width: auto;
}

ul{
    list-style-type: none;
}

.left li{
    padding: 20px;
    margin-left: 0;
    margin: 10px;
    font-size: 17px;
    width: 70%;
    border-radius: 10px;    
}

li{
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    width: 70%;
    border-radius: 10px;    
}

.fa-angle-right{
    display: none;
    margin-left: auto;
    float:right;
}

.btn:hover{
    color: #4558CB;
    background-color:  #ffffff;
    border: #4558CB 1px solid;
    transition: all 0.4s;
}
.active{
    color: #ffffff;
    background-color:  #4558CB;
    transition: all 0.4s;
}

.btn:hover .fa-angle-right{
    display: block;
}

i{
    padding-right: 20px;
    padding-left: 5px;
}
.menu{
    border: 0px;
    border-radius: 5px;
}
#menu2{
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-bottom: 25px;
}
.fa-arrow-right{
    display:none;
}

.name_pic{
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    display: inline;
    background-color: #ffffff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 10px -30px;
    position:relative;
    z-index:2;
}

#pagetitle{
    display: inline;
    color: #2d3041;
    line-height: 7.5vh;
}

.namepic{
    display: inline;
    text-align: right;
    margin-left: auto; 
    margin-right: 20px;
    float: right;
    margin-top: 5px;
}

.main{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    border-top: 0;
    padding: 20px 30px 20px 30px;
}

#name{
    font-size: 25px;
    padding-right: 25px;
}

#profilepic{
    border: #0c0c16 2px solid;
    border-radius: 50%;
    height: 50px;
}

h3{
    color: #7c7c7c;
    font-size: 18px;
}
h4{
    color: black;
    font-size: 16px;
}

.contact:hover{
    color: #ebf2ff;
    background-color: #4e55eb;    
}


.construction{
    text-align: center;
    padding: 12%;
    bottom: 50%;
}

#namesearch{
    margin-bottom: 5px;
    width: 90%;
}

.students ul {
    list-style-type: none;
    padding-left: 0px;
  }


#studentlist{
    overflow-y: scroll;
    height: 675px;
}

#studentlist li{
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 10px -30px;
}

#studentlist li span{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    overflow: hidden;
}


#studentlist li:hover{
    border: 2px #708090 solid;
    background-color: #EBF2FF;
}

#studentlist li:nth-child(1){
    background-color: #708090;
    color: #ffffff;
}
#studentlist li:nth-child(1) span:nth-child(2){
    color: #ffffff;
}


#studentlist li span:nth-child(2){
    padding-left: 10px;
    padding-right: 10px;
    color: #8f8f8f;
    width: max-content;
    display: inline-block;
    width: 280px;

}

#studentlist{
    margin-top: 10px;

}
form{
    padding: 20px;
    text-align: center;
    margin-left: 35%;
}
#addstudent{
    text-align: center;
    padding-top: 5%;
}
input{
    border: 1px;
    width: 300px;
    height: 40px;
    display: block;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 10px -30px;

}
#savestudent{
    border: 1px solid;
    color: black;
    background-color: white;
    width: 340px;
    height: 55px;
    display: block;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 10px -30px;

}

#savestudent:hover{
    border: 1px solid;
    color: white;
    background-color: black;
}

.sidebar{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #FFFFFF;
    color: #4e55eb;
    border-radius: 20px;
    height: 85vh;
    position: relative;
    margin: 4%;
    padding-top: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-align: center;
}

#pendinglist{
    margin-top: 15px;
}
#pendinglist li{
    width: 70%;
    border: 1px solid #4456C6;
    padding: 17px;
}

#pendinglist li:hover{
    background-color: #4456C6;
    color: #ffffff;
}

#regapprove_modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    text-align: center;
    z-index: 999;
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.regapprove_modal{
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    width: 750px;
    height: auto;
    top: 10%;
    left: 25%;
    padding: 50px;
}
.regapprove_modal li{
    width: 90%;
    padding-bottom: 0px;
    margin: 0;
}


#regapprove_modal .ra{
    background-color: #ffffff;
    border: 1px solid #4456C6;
    border-radius: 5px;
}
#regapprove_modal .ra:hover{
    color: #ffffff;
}

#regapprove_modal .raa{
    width: 120px;
    height: 40px;
    border: 1px solid green;
}
#regapprove_modal .raa:hover{
    background-color: green;
}
#regapprove_modal .rar{
    width: 120px;
    height: 40px;
    border: 1px solid red;
}
#regapprove_modal .rar:hover{
    background-color: red;
}

#regapprove_modal .rac{
    width: 240px;
    height: 40px;
    margin-top: 5px;
}
#regapprove_modal .rac:hover{
    background-color: #4456C6;
}


#semester{
    width: 200px;
    margin: 0 auto;
    padding-left: 10px;
    margin-right: 10px;
    display: inline;
    height: 50px;
}
.semester{
    display: inline;
    margin-right: 20px;
}
.pbtn{
    padding-top: 20px;
}

.pbtn .btn, #resultform .btn{
    margin-right: 10px;
    margin-left: 10px;
    width: 150px;
    background-color: #ffffff; 
    border: 1px solid black; 
    border-radius: 5px;
    height: 50px;
}

.pbtn .btn:hover, #resultform .btn:hover{
    background-color: #4e55eb;
    color: #ffffff;
}
#sdetails{
    margin-top: 50px;
    text-align: center;
}
#semesternum{
    height: 50px;
    width: 200px;
    padding-left: 25px;
    padding-right: 10px;
    text-align: center;
}
#sdetails #resultform{
    margin-bottom: 20px;
    margin: 0 auto;
}

#num1,#num2,#num3,#num4,#num5{
    width: 75px;
    height: 30px;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border: 1px solid #4e55eb;
}

#resultupdate{
    margin: 0;
    padding: 0;
}

#update_button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: #4e55eb;
    border: 0px;
    color: #ffffff;
    border-radius: 6px;
}

#update_button:hover{
    border: 2px #4e55eb solid;
    background-color: #ffffff;
    color: #4e55eb;
}

#ringloader{
    color: #4e55eb;
    margin-top: -500px;
    background-color: #F9FAFD;
    margin-bottom: 500px;
    height: 70vh;
    position: relative;
}

#stinfo{
    line-height: 35px;
}
.mobile{
    display: none;
}
@media only screen and (max-width:1000px){
    .container{
        display: none;
    }
    .mobile{
        display: block;
        text-align: center;
        margin: 30% 5%;
        line-height: 30px;
    }
    h3{
        color: black;
    }
    h4{
        color: #2d3041;
    }
}